@charset 'UTF-8';
.indicrear {
  position: relative;
}
.indicrear .groupbox {
  margin-top: 3rem;
}
.indicrear .groupbox legend {
  margin-bottom: 0;
}
.indicrear .groupbox .align-right {
  text-align: right;
}
.indicrear .groupbox .container-fluid {
  padding: 0;
}
.indicrear .groupbox .table-center {
  text-align: center;
}
.indicrear .groupbox .table-center input,
.indicrear .groupbox .table-center select {
  margin: 0 2px;
  text-align: center !important;
}
.indicrear .groupbox .table-center input.letter-1 {
  width: 35px;
}
.indicrear .groupbox .table-center input.letter-2 {
  width: 45px;
}
.indicrear .groupbox .table-center input.letter-3 {
  width: 55px;
}
.indicrear .groupbox .table-center input.letter-6 {
  width: 75px;
}
.indicrear .groupbox .table-center label {
  font-size: .75em;
  display: block;
  font-weight: 600;
  color: #555;
  text-align: center;
}
.indicrear .tab-custom {
  background-color: #fafafa;
}
.indicrear .tab-custom a,
.indicrear .tab-custom a:hover {
  border: none !important;
  color: #444;
  font-weight: 600;
}
.indicrear .tab-content {
  background-color: #f0f0f0;
  min-height: 400px;
  padding-top: 0;
  padding-bottom: 4rem;
}
.indicrear .tab-content .container {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 2rem;
  min-height: 400px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.indicrear.tabbable-line.disabled::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 3;
  user-select: none;
}
.bootstrap-growl {
  border: none;
  background-color: #444;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  font-size: 12px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.bootstrap-growl.alert-info {
  background-color: #bce8f1;
  color: #31708f;
  border: 1px solid #afe4ee;
}
.bootstrap-growl.alert-success {
  background-color: #d6e9c6;
  color: #3c763d;
  border: 1px solid #cee5bb;
}
.bootstrap-growl.alert-warning {
  background-color: #faebcc;
  color: #8a6d3b;
  border: 1px solid #f9e6be;
}
.bootstrap-growl.alert-danger {
  background-color: #ebccd1;
  color: #a94442;
  border: 1px solid #e7c1c7;
}
fieldset {
  position: relative;
  margin: 10px 0 20px 0;
  padding: 15px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}
fieldset .row {
  margin-left: 0;
  margin-right: 0;
}
fieldset .table {
  margin-bottom: 5px;
}
fieldset legend {
  margin: 0;
  position: absolute;
  top: -11px;
  font-size: 14px;
  left: 5px;
  width: auto;
  background-color: white;
  padding: 0 2px;
  border: none;
  color: #444;
  font-weight: 600;
}
.table-responsive:not(.not-boottable) {
  min-height: 130px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
.table-responsive:not(.not-boottable) table {
  border: none;
}
.table-responsive:not(.not-boottable) table td {
  border: none !important;
  border-top: 1px solid #ddd;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important;
  white-space: nowrap;
}
.table-responsive:not(.not-boottable) table tbody tr {
  border-bottom: 1px solid #ddd;
}
.table-responsive:not(.not-boottable) .fixed-table-container {
  border: none !important;
}
table.table-custom td,
table.table-custom th {
  white-space: nowrap !important;
}
button.btn.default {
  float: left !important;
}
