	@charset 'UTF-8';

.indicrear {

	position: relative;

	.groupbox {
		margin-top: 3rem;

		legend {margin-bottom: 0;}
		.align-right { text-align: right; }


		.container-fluid {
			padding: 0;
		}

		.table-center {
			text-align: center;
			input, select {
				margin: 0 2px;
				text-align: center !important;
			}

			input {
				&.letter-1 {width: 35px;}
				&.letter-2 {width: 45px;}
				&.letter-3 {width: 55px;}
				&.letter-6 {width: 75px;}
			}

			label {
				font-size: .75em;
				display: block;
				font-weight: 600;
				color: #555;
				text-align: center;
			}
		}
	}

	.tab-custom {
		background-color: #fafafa;

		a, a:hover {
			border: none !important;
			color: #444;
			font-weight: 600;
		}
	}

	.tab-content {
		background-color: #f0f0f0;
		min-height: 400px;
		padding-top: 0;
		padding-bottom: 4rem;

		.container {
			background-color: white;
			padding-top: 3rem;
			padding-bottom: 2rem;
			min-height: 400px;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
		}
	}

	&.tabbable-line.disabled::before {
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.05);
		z-index: 3;
		user-select:none;
	}
}


.bootstrap-growl {
	border: none;
	background-color: #444;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	&.alert-info { 
		background-color: #bce8f1;
		color: #31708f;
		border: 1px solid darken(#bce8f1, 3%);
	}
	&.alert-success { 
		background-color: #d6e9c6; 
		color: #3c763d;
		border: 1px solid darken(#d6e9c6, 3%);
	}
	&.alert-warning { 
		background-color: #faebcc; 
		color: #8a6d3b;
		border: 1px solid darken(#faebcc, 3%);
	}
	&.alert-danger { 
		background-color: #ebccd1; 
		color: #a94442;
		border: 1px solid darken(#ebccd1, 3%);
	}
}


fieldset {
	position: relative;
  margin: 10px 0 20px 0;
  padding: 15px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 2px;

  .row {
  	margin-left: 0;
  	margin-right: 0;
  }

  .table {
  	margin-bottom: 5px;
  }

  legend {
  	margin: 0;
    position: absolute;
    top: -11px;
    font-size: 14px;
    left: 5px;
    width: auto;
    background-color: white;
    padding: 0 2px;
    border: none;
    color: #444;
    font-weight: 600;
  }
}

.table-responsive:not(.not-boottable) {
	min-height: 130px;
	background-color: #f0f0f0;
	margin-bottom: 10px;
	border: 1px solid #ddd;

	table {
		border: none;
		td {
			border: none !important;
			border-top: 1px solid #ddd;
			padding-top: 0 !important;
			padding-bottom: 0 !important;
			vertical-align: middle !important;
			white-space: nowrap;
		}

		tbody tr {
			border-bottom: 1px solid #ddd;
		}
	}

	.fixed-table-container {
		border: none !important;
	}
}

table.table-custom { 
	td, th {
	  white-space: nowrap !important;
	}
}

button.btn.default {
	float: left !important;
}