@import "bootbox.less";
@import "bootstrap_table.less";
@import "nav-bar.less";

.search-bar {
    padding: 0 !important;
    margin: 15px 0 20px 0 !important;
    background-color: transparent !important;
    border: none !important;

    .extra-buttons { text-align: right; }

    .input-group {
        background-color: white !important;
        border: 1px solid #ddd;

        input { background-color: transparent !important; }

        .input-group-btn {
            .btn {
                background-color: transparent;
                color: #a0a9b4;
                width: 65px;
                margin-top: 0 !important;
                &:active, &:focus {
                    background-color: rgba(0, 0, 0, 0.08) !important;
                }
            }
        }
    }
}

input:focus, 
select:focus, 
textarea:focus {
    outline: 1px solid @color-app !important;
    border-color: @color-app !important;
}
.page-header .page-header-top .page-logo .logo-default{
    margin: 5px;
}

.control-label{
    font-weight: 600 !important;
}

.btn.green{
    color: #FFFFFF;
    background-color: @color-app !important;
    border-color: @color-app !important;
    &:focus{
        background-color: @border-app !important;
        outline: 1px solid @color-secundary-app !important;
        border-color: @color-secundary-app !important;
    }
    &:hover{
        color: #FFFFFF;
        background-color: @border-app !important;
        border-color: @border-app !important; 
    }
}
.btn.grey-salsa{
    color: black !important;
    font-weight: bold;
    background-color: @color-secundary-app !important;
    border-color: (@color-secundary-app - 10%) !important;
    &:focus{
        background-color: (@color-secundary-app - 20%) !important;
        outline: 1px solid @color-secundary-app !important;
        border-color: @color-secundary-app !important;

    }

}
.tabbable-line>.nav-tabs>li.active{
    border-bottom: 4px solid @color-app !important;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    background: none;
    border-bottom: 4px solid (@color-app + 30%); 
}

.quick-nav{
    display: none;

}
/*.page-footer {
    background: @color-secundary-app !important;
    color: #a2abb7;
}*/

.modal-footer{
    button.btn-primary{
        background-color: @color-app !important;
        border-color: (@color-app - 10%) !important;
    }
}
.footer-body{
    button.purple{
        background-color: @color-app !important;
        border-color: (@color-app - 10%) !important;
    }
    button.green{
        background-color: #337ab7 !important;
        border-color: #2e6da4 !important;
        &:hover,&:focus{
            background-color: #286090 !important;
            border-color: #2e6da4 !important;
        }
    }
}
#md-notaria .bg-green{
    background-color: transparent !important;
}
ul.pagination li.active a{
    background-color: (@color-secundary-app - 20%) !important;
    outline: 1px solid @color-secundary-app !important;
    border-color: @color-secundary-app !important;
}

table thead.bg-gray, table thead.bg-blue{
    background: #EEF1F5 !important;
    text-align: center;
}
table .bg-gray{
    background: #EEF1F5 !important;
    text-align: center;
    font-weight: 600 !important; 
}
table .bg-app-dark{
    background: #67B13F !important;
    font-weight:600; 
}
.reporte-titulo{
    padding-bottom: 10px;
}
button.green-soft, a.green-soft{
    color: black !important;
    font-weight: bold;
    background-color: @color-secundary-app !important;
    border-color: (@color-secundary-app - 10%) !important;
    &:focus,&:hover{
        background-color: (@color-secundary-app - 20%) !important;
        outline: 1px solid @color-secundary-app !important;
        border-color: @color-secundary-app !important;

    }
}

.mg-b-20{
    margin-bottom: 20px !important;
}

#progress-data {
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1080;
    .progress-bar {
        background-color: @color-app;
    }
}

/*#67B13F*/