@import "variables.less";
.login{
    background: #E0E0E0 !important;
    padding-top: 50px !important;

    .content{
        margin-top: 10px;
        form {
            .form-actions{
                padding: 5px 30px;
                border:0;
            }
            h3{color: @color-app !important;}
            .form-title{
                padding-bottom: 20px; 
                border-bottom: 1px solid #eee;
            }
            button[type="submit"]{
                background-color: @color-app;
                border:1px solid @border-app;
                &:hover{
                    background-color: @border-app;
                    border:1px solid @border-app;
                }
            }
        }
        .color-app{
            content: " ";
            background: @color-app;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 10px;
            border-top: 1px solid @color-app;
        }
    }


}
