@import "variables.less";

.page-header .page-header-menu {
    background: @nav-bar-app;
}

.page-header .page-header-menu.fixed {
    box-shadow: 0px 1px 10px 0px rgba(68, 77, 88, 0.2); }
.page-header .page-header-menu .hor-menu .navbar-nav {
}
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
    box-shadow: 5px 5px rgba(85, 97, 111, 0.2); }
.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li > a {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li > a > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li:hover > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.open > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:focus,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:active {
    color: #ffffff;
    background: @nav-bar-hover-app !important; }
.page-header .page-header-menu .hor-menu .navbar-nav > li:hover > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li.open > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:focus > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li > a:active > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a:hover, .page-header .page-header-menu .hor-menu .navbar-nav > li.current > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li.current > a:hover {
    color: #f1f1f1;
    background: @nav-bar-active-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li.active > a:hover > i, .page-header .page-header-menu .hor-menu .navbar-nav > li.current > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li.current > a:hover > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu {
    box-shadow: 5px 5px rgba(85, 97, 111, 0.2);
    background: @nav-bar-hover-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    color: #ffffff;
    background: @nav-bar-active-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.current > a,
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover {
    color: #ffffff;
    background: @nav-bar-active-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.current > a > i,
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.current > a:hover > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li.divider {
    background-color: #606d7d; }
.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-submenu > a:after {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav {
}
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu {
    box-shadow: 5px 5px rgba(85, 97, 111, 0.2); }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3 {
    color: #555; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a:hover {
    color: #ffffff;
    background: @nav-bar-hover-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > a:hover > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li:hover > a,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.open > a {
    color: #333 !important;
    background: #fafafc !important; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li:hover > a > i,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.open > a > i {
    color: #333 !important; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.active > a,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.current > a,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
    color: #f1f1f1;
    background: @nav-bar-active-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.active > a > i,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover > i, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.current > a > i,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover > i {
    color: #ffffff; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    box-shadow: 5px 5px rgba(85, 97, 111, 0.2);
    background: #fafafc; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
    color: #000; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a {
    color: #000;
    background: #eaeaf2; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li:hover > a > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover {
    color: #000;
    background: #eaeaf2; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a > i,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.active > a:hover > i, .page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a > i,
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.current > a:hover > i {
    color: @nav-bar-icono-app; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li.divider {
    background-color: #ededf4; }
.page-header .page-header-menu .hor-menu.hor-menu-light .navbar-nav > li > .dropdown-menu {
    border: 1px solid #eaeaf2;
    border-top: 0; }
.page-header .page-header-menu .search-form {
    background: @nav-bar-hover-app; }
.page-header .page-header-menu .search-form .input-group {
    background: @nav-bar-hover-app; }
.page-header .page-header-menu .search-form .input-group .form-control {
    color: @nav-bar-active-app;
    background: @nav-bar-hover-app; }
.page-header .page-header-menu .search-form .input-group .form-control::-moz-placeholder {
    color: #5f6a7a;
    opacity: 1; }
.page-header .page-header-menu .search-form .input-group .form-control:-ms-input-placeholder {
    color: #5f6a7a; }
.page-header .page-header-menu .search-form .input-group .form-control::-webkit-input-placeholder {
    color: #5f6a7a; }
.page-header .page-header-menu .search-form .input-group .input-group-btn .btn.submit > i {
    color: @nav-bar-active-app; }