@color-app : #76C04E;
@color-secundary-app : #FECB30;
@border-app: (@color-app - 13%);

@nav-bar-app: @color-app;
@nav-bar-active-app: (@color-app - 15%);
@nav-bar-hover-app: (@color-app - 20%);
@nav-bar-icono-app: @color-secundary-app;