.login {
  background: #E0E0E0 !important;
  padding-top: 50px !important;
}
.login .content {
  margin-top: 10px;
}
.login .content form .form-actions {
  padding: 5px 30px;
  border: 0;
}
.login .content form h3 {
  color: #76c04e !important;
}
.login .content form .form-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.login .content form button[type="submit"] {
  background-color: #76c04e;
  border: 1px solid #69b341;
}
.login .content form button[type="submit"]:hover {
  background-color: #69b341;
  border: 1px solid #69b341;
}
.login .content .color-app {
  content: " ";
  background: #76c04e;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  border-top: 1px solid #76c04e;
}
